.btn {
    padding: 6px 20px;
    border-radius: 4px;

    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        padding-bottom: 8px;
    }

    &-primary {
        border: 1px solid #0d1c5f;
        color: #fff;
        background: #667cda;
        background: -moz-linear-gradient(top, #667cda 0%, #0b1f74 100%);
        background: -webkit-linear-gradient(top, #667cda 0%,#0b1f74 100%);
        background: linear-gradient(to bottom, #667cda 0%,#0b1f74 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#667cda', endColorstr='#0b1f74',GradientType=0 );
        box-shadow: inset 0px 1px 0px rgba($brand-white, 0.5);

        &:hover {
            opacity: 0.85;
        }

        &:active {
            opacity: 1;
            background: #667cda;
            background: linear-gradient(to bottom, #1512B7 0%,#667cda 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1512B7', endColorstr='#667cda',GradientType=0 );
        }
    }

    &:focus {
        outline: none;
    }
}